<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gayratrakhimov.rxjavaexamples">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".examples.introduction.SetupActivity" />
        <activity android:name=".examples.introduction.ObservableObserverActivity" />
        <activity android:name=".examples.operators.creating.CreatingOperatorsActivity" />
        <activity android:name=".examples.operators.AsyncOperatorsActivity" />
        <activity android:name=".examples.operators.BlockingOperatorsActivity" />
        <activity android:name=".examples.operators.BooleanOperatorsActivity" />
        <activity android:name=".examples.operators.ConditionalOperatorsActivity" />
        <activity android:name=".examples.operators.MathematicalOperatorsActivity" />
        <activity android:name=".examples.operators.StringOperatorsActivity" />
        <activity android:name=".examples.operators.transforming.TransformingOperators1Activity" />
        <activity android:name=".examples.operators.transforming.TransformingOperators2Activity" />
        <activity android:name=".examples.operators.transforming.TransformingOperators3Activity" />
        <activity android:name=".examples.operators.combining.CombiningOperators1Activity" />
        <activity android:name=".examples.operators.combining.CombiningOperators2Activity" />
        <activity android:name=".examples.operators.combining.CombiningOperators3Activity" />
        <activity android:name=".examples.operators.aggregate.AggregateOperators1Activity" />
        <activity android:name=".examples.operators.aggregate.AggregateOperators2Activity" />
        <activity android:name=".examples.operators.aggregate.AggregateOperators3Activity" />
        <activity android:name=".examples.operators.filtering.FilteringOperators1Activity" />
        <activity android:name=".examples.operators.filtering.FilteringOperators2Activity" />
        <activity android:name=".examples.operators.filtering.FilteringOperators3Activity" />
        <activity android:name=".examples.operators.utility.UtilityOperators1Activity"></activity>
        <activity android:name=".examples.operators.utility.UtilityOperators2Activity"></activity>
        <activity android:name=".examples.operators.utility.UtilityOperators3Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>