<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gayratrakhimov.rxjavaexamples">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".examples.introduction.SetupActivity" />
        <activity android:name=".examples.operators.creating.CreatingOperatorsActivity" />
        <activity android:name=".examples.operators.transforming.TransformingOperators1Activity" />
        <activity android:name=".examples.operators.transforming.TransformingOperators2Activity" />
        <activity android:name=".examples.operators.transforming.TransformingOperators3Activity" />
        <activity android:name=".examples.operators.combining.CombiningOperators1Activity" />
        <activity android:name=".examples.operators.combining.CombiningOperators2Activity" />
        <activity android:name=".examples.operators.combining.CombiningOperators3Activity" />
        <activity android:name=".examples.operators.aggregate.AggregateOperators1Activity" />
        <activity android:name=".examples.operators.aggregate.AggregateOperators2Activity" />
        <activity android:name=".examples.operators.aggregate.AggregateOperators3Activity" />
        <activity android:name=".examples.operators.filtering.FilteringOperators1Activity" />
        <activity android:name=".examples.operators.filtering.FilteringOperators2Activity" />
        <activity android:name=".examples.operators.filtering.FilteringOperators3Activity" />
        <activity android:name=".examples.operators.utility.UtilityOperators1Activity" />
        <activity android:name=".examples.operators.utility.UtilityOperators2Activity" />
        <activity android:name=".examples.operators.utility.UtilityOperators3Activity" />
        <activity android:name=".examples.operators.utility.UtilityOperators4Activity" />
        <activity android:name=".examples.operators.utility.UtilityOperators5Activity" />
        <activity android:name=".examples.operators.conditional.ConditionalOperators1Activity" />
        <activity android:name=".examples.operators.bool.BooleanOperatorsActivity" />
        <activity android:name=".examples.operators.blocking.BlockingOperatorsActivity" />
        <activity android:name=".examples.observable.ObservableActivity" />
        <activity android:name=".examples.observable.CompletableActivity" />
        <activity android:name=".examples.observable.MaybeActivity" />
        <activity android:name=".examples.observable.SingleActivity" />
        <activity android:name=".examples.flowable.FlowableActivity" />
        <activity android:name=".examples.schedulers.SubscribeOnActivity" />
        <activity android:name=".examples.schedulers.SchedulersActivity"></activity>
        <activity android:name=".examples.schedulers.ObserveOnActivity" />
        <activity android:name=".examples.disposable.DisposableActivity" />
        <activity android:name=".examples.flowable.BackpressureActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>