<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gayratrakhimov.rxjavaexamples">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".examples.Example0Activity" />
        <activity android:name=".examples.Example1Activity" />
        <activity android:name=".tasks.Task1Activity" />
        <activity android:name=".examples.Example2Activity" />
        <activity android:name=".tasks.Task2Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".examples.Example3Activity" />
        <activity android:name=".examples.operators.AggregateOperatorsActivity" />
        <activity android:name=".examples.operators.AsyncOperatorsActivity" />
        <activity android:name=".examples.operators.BlockingOperatorsActivity" />
        <activity android:name=".examples.operators.BooleanOperatorsActivity" />
        <activity android:name=".examples.operators.CombiningOperatorsActivity" />
        <activity android:name=".examples.operators.ConditionalOperatorsActivity" />
        <activity android:name=".examples.operators.FilteringOperatorsActivity" />
        <activity android:name=".examples.operators.MathematicalOperatorsActivity" />
        <activity android:name=".examples.operators.StringOperatorsActivity" />
        <activity android:name=".examples.operators.TransformingOperatorsActivity" />
        <activity android:name=".examples.operators.UtilityOperatorsActivity"></activity>
    </application>

</manifest>